
// image of a map
.allCards img {
    width: 100%;
}


@media only screen and (min-width: 1200px) {
    .allCards img {
        height: 200px;
    }
}
@media only screen and (min-width: 1600px) {
    .allCards img {
        height: 200px;
    }
}