
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-family-paragraphs;

    background-color: $color-grey-4;

    p {
        font-size: clamp(1rem, 2.5vmin, 1.3rem);
        line-height: 1.5;
    }
}

@media only screen and (min-width: 1200px) {

    body > div {
        width: 70%;
        margin: 0 auto;
        p {
            font-size: clamp(1rem, 1.5vmin, 1.3rem);
            line-height: 1.5;
        }
    }
}

@media only screen and (min-width: 1600px) {

    body > div {
        width: 90%;

    }
}

@media only screen and (min-width: 1900px) {

    body > div {
        width: 95%;

    }
}