

.introContainer section {

    width: 80%;

    h1 {
        font-family: $font-family-heading;
        font-size: clamp(3rem, 8vmin, 6rem);
        text-align: center;
    }

    p {
        padding: 1rem 0;
        text-align: center;
    }

}


@media only screen and (min-width: 1200px) {

    .introContainer section {
        
        width: 70%;
        padding-right: 5%;
        // margin: 0 3%;

        p {
            text-align: left;
        }
    }
}