@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


$font-family-heading: 'Dancing Script', cursive;
$font-family-secondary: 'Playfair Display', serif;
$font-family-paragraphs: 'Lato', sans-serif;


$color-black: #000000;       // h2
$color-grey-1: #adb5bd;        // logo youtube
$color-grey-2: #848a91;  // h3
$color-grey-3: #b7b7b7;      // ligne
$color-grey-4: #ebebeb;      // ligne
$color-blue-light: #57c3ff;
$color-blue-dark: #121b98;
$color-yellow: #ffdd57;
$color-white: #ffffff;